body{background: url(Ro.jpg);}
div{text-align: center; color: red; font-size: 20px;}
.m{color: green;}
h4{color: whitesmoke;
font-size: 25px;box-shadow: 1px 1px 15px  green ;
}
h1{background:white; box-shadow: 2px 9px 15px red;color: green;padding: 1px;margin: 90px;}
