.c{text-align: center;border: 3px;padding: ;}
fieldset{background: 
url(Ro.jpg
);color: whitesmoke;
 cover;}
 body{background: cadetblue;}
.m{background: url(Re.jpg) ; text-align: center; color: whitesmoke; }